<mat-card class="login-page">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form class="login-form data-form" #loginForm="ngForm">
      <mat-form-field appearance="outline">
        <input
          ngModel
          #email="ngModel"
          matInput
          type="email"
          name="email"
          placeholder="Email"
          required
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input
          ngModel
          #password="ngModel"
          matInput
          type="password"
          name="password"
          placeholder="Password"
          required
        />
      </mat-form-field>

      <button (click)="onLogin(loginForm)" mat-raised-button color="primary">
        Login
      </button>
    </form>

    <div class="form-val">
      {{ email.valid }}
    </div>
  </mat-card-content>
</mat-card>
