<mat-card class="login-page">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form class="login-form data-form" #loginForm="ngForm" (ngSubmit)="onLogin(loginForm, $event)">
      <mat-form-field appearance="outline">
        <!-- <input
          ngModel
          #email="ngModel"
          matInput
          type="email"
          name="email"
          placeholder="Email"
          email
          required
          minlength="3"
          maxLength="20"
          [ngModelOptions]="{ standalone: true }"
          (ngModelChange)="onEmailChange($event)"
        /> -->
        <input
          [ngModel]="val.email"
          #email="ngModel"
          matInput
          type="email"
          name="email"
          placeholder="Email"
          email
          required
          minlength="3"
          maxLength="20"
        />
        <mat-error *ngIf="email.errors?.required">The email is mandatory</mat-error>
        <mat-error *ngIf="email.errors?.minlength">
          Your email must have minimun
          {{ email.errors.minlength.requiredLength }} chars, but is only has
          {{ email.errors.minlength.actualLength }} chars
        </mat-error>
        <mat-error *ngIf="email.errors?.email">This is a not valid email</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input
          [ngModel]="val.password"
          #password="ngModel"
          matInput
          type="password"
          name="password"
          placeholder="Password"
          required
          minlength="8"
          passwordStrength
        />
        <mat-error *ngIf="password.errors?.required">Password is required</mat-error>
        <mat-error *ngIf="password.errors?.minlength">
          Your password must have minimun
          {{ password.errors.minlength.requiredLength }} chars, but is only has
          {{ password.errors.minlength.actualLength }} chars
        </mat-error>
        <mat-error *ngIf="password.errors?.passwordStrength">
          Your password must have lower case, upper case and numeric characters
        </mat-error>
      </mat-form-field>

      <button [disabled]="loginForm.invalid" type="submit" mat-raised-button color="primary">
        Login
      </button>
    </form>

    <div class="form-val">
      <!-- {{ email.errors | json }} -->
      <!-- {{ email.valid | json }} -->
      <!-- {{ loginForm.value | json }} -->
      {{ password.errors | json }}
    </div>
  </mat-card-content>
</mat-card>
